
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bgcolor:#0d1117;
    --terminal-banner-1:#daff0d;
    --terminal-prompt-1:green;
    --terminal-cmd-output1:#519975;
    --terminal-cmd-output-ul1:rgb(231, 159, 15);
    --terminal-type1:#dfb06e;
    --about-p1:#80d932;
    --not-found-1:rgb(205, 42, 42);
    --not-found-p:floralwhite;
    --project-col1:#13dbff;
    --span-col1:#519975;
    --text-sh-col1:#73abad;
}

body{
    width: 100%;
    height: 100%;
}

#terminal{
    background-color: var(--main-bgcolor);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    color: rgb(116, 116, 116);
    word-break: break-word;
    padding-left: 1.5rem;
}


[topbanner]{
    margin-bottom: 2rem;
}


.terminalbanner pre{
    font-size: 1rem;
    color: var(--terminal-banner-1);
    transition: all 0.3s ease-in;
}

.terminal-welcome-message{
    font-size: 1.2rem;
    line-height: 3rem;
}

.terminal-inputarea{
    margin-top: 1rem;
}


.terminal-prompt{
    /* border: 1px solid white; */
    color: var(--terminal-prompt-1);
    font-weight: bold;
    font-style: oblique;
    font-size: 1.1rem;
}

.terminal-input{
    /* width: 600px; */
    flex-grow: 1;
    background-color: inherit;
    border: none;
    width: 70%;
    height: 2.5rem;
    color: #dfb06e;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.terminal-input:focus{
    outline: none;
}

.terminal-command-output{
    font-size: 1.2rem;
    line-height: 2rem;
    color: var(--terminal-cmd-output1);
    text-shadow: 0 0 5px var(--text-sh-col1);
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.terminal-command-output ul{
    list-style: none;
    color: var(--terminal-cmd-output-ul1);
    margin: 1rem;
}

.terminal-command-output li{
    display: flex;
    gap: 5rem;
}

.terminal-cmd{
    font-size: 1.2rem;
    font-weight: bold;
    color: car(--terminal-type1);
}

#spantxt{
    flex: 1;
    text-shadow: 0 0 5px var(--text-sh-col1);
    color: var(--span-col1);
    text-decoration: none;
}

#spandd{
    flex: 3;
    text-shadow: 0 0 5px var(--text-sh-col1);
}

.terminal-command-output-about{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top:2rem;
}

p{
    line-height: 2rem;
    color: var(--about-p1);
    font-family: 'Source Serif Pro', serif;
}

.not-found{
    color: var(--not-found-1);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}

.not-found span{
    font-weight: bold;
}

.not-found p{
    color: var(--not-found-p);
    font-family: 'Poppins',sans-serif;
    
}

.projectKey{
    color: var(--project-col1);
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    text-shadow: none;
    flex: 1;
}

.projectElements{
    display: flex;
}

.projectElements:first-child{
    margin-top: 1rem;
}

#projectdd{
    flex: 3;
}

.linkKey{
    flex: 5;
    font-family: 'Poppins',sans-serif;
    color: var(--about-p1);
}
